.root {
    /* height: 561px;
    width: 1920px; */
    display: flex;
    gap: 10px;
    background-color: #144272;
}

nav {
    position: fixed;
    inset-block: 0;
    right: 30px;
    align-items: center;
}

#home-content {
    position: fixed;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
}

img {
    position: fixed;
    height: 373.28px;
    width:  373.28px;
    left: 300px;
    margin-top: 13%;
}

.switch {
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: #f0f0f0;
    margin-left: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;  
}

.style-switch {
    margin-top: 80px;
}

.nav-item {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.nav-list {
    margin-top: 280px;
}

body.dark-mode .nav_item {
    background-color: #333; /* Dark mode background color */
}

/* light mode */
:root {
    --background-color: white;
    --text-color: #333;
}

/* Dark mode styles */
body.dark-mode {
    --background-color: black;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.no-bullets {
    list-style-type: none; 
}

#home-content {
    margin-top: 6%;
}

#title {
    text-align: center;
    font-size: larger;
    font-weight: 800;
    margin-bottom: 70px;
}