.root-grid {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/images/cool.jpg);
    background-size: cover; /* Make the image cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

.switch {
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: #f0f0f0;
    margin-left: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch.color-flex {
    margin-top: 80px;
}

.switch.theme-flex {
    margin-top: 10px;
}

.main-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.pic-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
}

img {
    height: 340px;
    width: 340px;
    border-radius: 40%;
    float: right;
}

.socials-flex {
    display: flex;
    height: 70px;
}

.social-items {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.empty {
    height: 10px;
}

.resume-flex {
    display: flex;
    height: 70px;
    gap: 30px;
}

.item {
    display: inline-flex;
    height: 45px;
    align-items: center;
    gap: 20px;
}

.about-flex {
    float: left;
}

.res-flex {
    margin-right: 0px;
    float: right;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: #f0f0f0;
    border-radius: 50%;
    float: right;
}

nav {
    position: fixed;
    inset-block: 0;
    right: 10px;
    align-items: center;
}

.nav-item {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.nav-list {
    margin-top: 440px;
}



/*-----------------------------------------------------------------------------*/

body.dark-mode .nav_item {
    background-color: #333; /* Dark mode background color */
}

/* light mode */
:root {
    --background-color: white;
    --text-color: #333;
}

/* Dark mode styles */
body.dark-mode {
    --background-color: black;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.no-bullets {
    list-style-type: none; 
}

